.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1F233E !important;
}

.auth-content {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #1F233E !important;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.auth-content h1 {
    margin-bottom: 20px;
    color: #fff;
}

.auth-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-content button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 400px;
}

.auth-content button:hover {
    background-color: #0056b3;
}

.social-login button {
    width: 500%;
    padding: 10px;
    margin-top: 10px;
    background-color: #db4437;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-login button:nth-child(2) {
    background-color: #3b5998;
}

.social-login button:hover {
    opacity: 0.9;
}

  